@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Samples.Helpers
@using DbNetSuiteCore.Samples.Plugins


@model DbNetSuiteCore.Samples.ViewModels.SampleModel

@section Title
{
    <p data-summary>This sample demonstrates use of the @RazorHelper.HelpLink("Plugins#iCustomisationPlugin", "CustomisationPlugin") property to customise the behaviour of the grid control. The plugin class should implement one or more of the raw data loaded into a datatable into a more desirable format. In this example the plugin implements the <a target="_blank" href="https://github.com/dbnetlink/DbNetSuiteCore2/blob/develop/DbNetSuiteCore/Plugins/Interfaces/ICustomGridPlugin.cs">TransformDataTable</a> method to manipulate the data in the publicly available National Bathing Waters Classification <a target="_blank" href="/data/ods/EA_National_Bathing_Waters_Classification_Results_2025.ods">spreadsheet</a></p>
}

@section Control {

@{
var sheets = new Dictionary<string, string> { { "Class_Summary", "Classifications Summary" }, { "Class_Results", "Individual Bathing Water Classifications" }, { "Class_Comms", "Individual Bathing Water Classifications By Area" } };
    

<ul class="nav nav-tabs">
    @{
        foreach (string tab in sheets.Keys)
        {
            <li class="nav-item">
                <button class="nav-link @(tab == sheets.Keys.First() ? "active" : string.Empty)" id="@(tab)-tab" data-bs-toggle="tab" data-bs-target="#@(tab)-pane" type="button" role="tab" aria-controls="@tab" aria-selected="true">@sheets[tab]</button>
            </li>
        }
    }
</ul>

<div class="tab-content" id="tabContent" style="padding-top:10px">
@foreach (string tab in sheets.Keys)
{
   // var bathingStatsGrid = new GridModel(DataSourceType.Excel, "https://assets.publishing.service.gov.uk/media/69205a9da0e0fb4c2936ab72/EMBARGOED_EA_National_Bathing_Waters_Classification_Results_2025.ods");
        var bathingStatsGrid = new GridModel(DataSourceType.Excel, "/data/ods/EA_National_Bathing_Waters_Classification_Results_2025.ods");

    bathingStatsGrid.CustomisationPlugin = typeof(BathingWatersPlugin);
    bathingStatsGrid.SheetName = tab;
    bathingStatsGrid.DeferredLoad = true;
    bathingStatsGrid.Cache = true;
    bathingStatsGrid.Bind(GridClientEvent.CellTransform, "highlightQuality");

    <div class="tab-pane fade @(tab == sheets.Keys.First() ? "show active" : string.Empty)" id="@(tab)-pane" role="tabpanel" aria-labelledby="@(tab)-tab">
        @(await DbNetSuiteCore.Control.Create(HttpContext).Render(bathingStatsGrid))
    </div>
}
</div>
}}


@section Scripts {
    <script type="text/javascript" class="source">
        function highlightQuality(sender, args) {
            var cell = args.cell;
            let colour = null;
            switch (cell.innerText) {
                case "Excellent":
                    colour = "skyblue";
                    break;
                case "Good":
                    colour = "palegreen";
                    break;
                case "Sufficient":
                    colour = "gold";
                    break;
                case "Poor":
                    colour = "salmon";
                    break;
                default:
                    break;
            }

            if (colour) {
                cell.style.backgroundColor = colour;
            }
        }
    </script>
}

