@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Models

@using DbNetSuiteCore.Samples.Helpers
@using Microsoft.AspNetCore.Html
@model DbNetSuiteCore.Samples.ViewModels.SampleModel
@section Title
{
    <p data-summary>Grid controls can be linked together by assigning a child control to a parent control using the @RazorHelper.HelpLink("grid-model#linkedcontrol-componentmodel", "LinkedControl"). The child control will return records whose @RazorHelper.HelpLink("Grid-Column#ForeignKey-bool", "ForeignKey") column matches the @RazorHelper.HelpLink("Grid-Column#PrimaryKey-bool", "PrimaryKey") column of the parent.The sample also demonstrates use of the client-side event @RazorHelper.HelpLink("grid-model#rowselected", "RowSelected") to set the tab label using the client-side @RazorHelper.HelpLink("grid-client-api#columnvalue", "columnValue"). method</p>
}

@section Styles
{
    <style>
        .dbnetsuite {
            margin-top: 10px;
        }
    </style>
}


@section Control {
@{
    var invoiceLineGridModel = new GridModel("Invoice_items");
    invoiceLineGridModel.Columns = new List<GridColumn>
    {
        new GridColumn("invoicelineid", "Invoice Line ID"),
        new GridColumn("invoiceid", "Invoice ID") {ForeignKey = true, DataOnly = true },
        new GridColumn("trackid", "Track ID") {Lookup = new Lookup("tracks","trackid","name")},
        new GridColumn("unitprice", "Price") { Format = "c"},
        new GridColumn("quantity", "Qty"),
    };
    invoiceLineGridModel.Caption = "Invoice Lines";
    invoiceLineGridModel.PageSize = 10;
    invoiceLineGridModel.ToolbarPosition = ToolbarPosition.Hidden;

    var invoiceGridModel = new GridModel("Invoices");
    invoiceGridModel.Columns = new List<GridColumn>
    {
        new GridColumn("invoiceid", "Invoice ID") {PrimaryKey = true },
        new GridColumn("customerid", "Customer ID") {ForeignKey = true, DataOnly = true },
        new GridColumn("invoicedate", "Date") { DataType = typeof(DateTime) },
        new GridColumn("billingaddress", "Address"),
        new GridColumn("billingcity", "City"),
        new GridColumn("billingstate", "State"),
        new GridColumn("billingcountry", "Country"),
        new GridColumn("billingpostalcode", "Post Code")
    }; 
    invoiceGridModel.LinkedControl = invoiceLineGridModel;
    invoiceGridModel.Caption = "Invoices";
    invoiceGridModel.PageSize = 10;
    invoiceGridModel.ToolbarPosition = ToolbarPosition.Hidden;
    invoiceGridModel.ClientEvents[GridClientEvent.RowSelected] = "setOrderDetailsTabLabel";

    var customerGridModel = new GridModel(DataSourceType.SQLite, "Chinook", "Customers");
    customerGridModel.Columns = new List<GridColumn>
    {
        new GridColumn("customerid", "CustomerID") {PrimaryKey = true },
        new GridColumn("firstname", "Forename"),
        new GridColumn("lastname", "Surname"),
        new GridColumn("email", "Email Address") {Format = FormatType.Email },
        new GridColumn("address", "Address"),
        new GridColumn("city", "City") { InitialSortOrder = SortOrder.Desc},
        new GridColumn("postalcode", "Post Code"),
    };
    customerGridModel.LinkedControl = invoiceGridModel;
    customerGridModel.PageSize = 10;
    customerGridModel.ClientEvents[GridClientEvent.RowSelected] = "setOrderTabLabel";

    <div class="source">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @Tab("Customers", true)
            @Tab("Orders", false)
            @Tab("Order Details", false)
        </ul>
        <div class="tab-content" id="linkedGrids">
            <div class="tab-pane fade show active" id="customers" role="tabpanel" aria-labelledby="customers-tab">
                @(await DbNetSuiteCore.Control.Create(HttpContext).Render(customerGridModel))
            </div>
            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                @(await DbNetSuiteCore.Control.Create(HttpContext).Render(invoiceGridModel))
            </div>
            <div class="tab-pane fade" id="orderdetails" role="tabpanel" aria-labelledby="orderdetails-tab">
                @(await DbNetSuiteCore.Control.Create(HttpContext).Render(invoiceLineGridModel))
            </div>
        </div>
    </div>
}}

@section Scripts {
<script type="text/javascript" class="source">
    function setOrderTabLabel(grid, args) {
        $("button#orders-tab").html("Customer <b>" + grid.columnValue("customerid", args.selectedRow) + "</b> orders")
    }

    function setOrderDetailsTabLabel(grid, args) {
        $("button#orderdetails-tab").html("Invoice <b>" + grid.columnValue("invoiceid", args.selectedRow) + "</b> details")
    }
</script>
}

@functions
{
    public static HtmlString Tab(string label, bool active)
    {
        string name = label.ToLower().Replace(" ", string.Empty);
        return new HtmlString($"<li class=\"nav-item\" role=\"presentation\"><button class=\"nav-link {(active ? "active" : string.Empty)}\" id=\"{name}-tab\" data-bs-toggle=\"tab\" data-bs-target=\"#{name}\" type=\"button\" role=\"tab\" aria-controls=\"{name}\" aria-selected=\"{active.ToString().ToLower()}\">{label}</button></li>");
    }
}