@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Samples.Helpers

@model DbNetSuiteCore.Samples.ViewModels.SampleModel
@section Title
{
    <p data-summary>For enhanced navigation and browsability of a form dataset you can link the Form control to a parent @RazorHelper.HelpLink("grid-model", "Grid") control by assigning the Form to the Grid @RazorHelper.HelpLink("grid-model#linkedcontrol-componentmodel", "LinkedControl") property. This adds paging, sorting and filtering capabilities which can be helpful when working with larger datasets. By making the @RazorHelper.HelpLink("form-column#foreignkey-bool", "ForeignKey") in the Form control the same as the @RazorHelper.HelpLink("grid-column#primarykey-bool", "PrimaryKey") in the Grid control a one-to-one relationship is formed. The sample also demonstrates use of the @RazorHelper.HelpLink("form-column#required-boolean", "Required"), @RazorHelper.HelpLink("form-column#initialvalue-object", "InitialValue"), @RazorHelper.HelpLink("form-column#minvalue-object", "MinValue") and @RazorHelper.HelpLink("form-column#maxvalue-object", "MaxValue") column properties. </p>
}
@section Control {
    @{
        var productsGrid = new GridModel(DataSourceType.SQLite, "Northwind", "Products") { ViewDialog = new ViewDialog() { LayoutColumns = 2 }, PageSize = 5, Caption = "Products" };
        productsGrid.Columns = new List<GridColumn>() {
        new GridColumn("ProductID") { PrimaryKey = true },
        new GridColumn("ProductName"),
        new GridColumn("SupplierID","Supplier") { Lookup = new Lookup("Suppliers", "SupplierId", "CompanyName"), Filter = FilterType.Default },
        new GridColumn("CategoryID","Category") { Lookup = new Lookup("Categories", "CategoryID", "CategoryName"), Filter = FilterType.Default },
        new GridColumn("QuantityPerUnit", "Qty."),
        new GridColumn("UnitPrice","Price") { Format = "c"},
        new GridColumn("UnitsInStock", "Stock"),
        new GridColumn("UnitsOnOrder","On Order"),
        new GridColumn("ReorderLevel"),
        new GridColumn("Discontinued") { DataType = typeof(Boolean), Filter = FilterType.Default}
    };
        var productForm = new FormModel("Products") { Insert = true, Delete = true };
        productForm.Columns = new List<FormColumn>() {
        new FormColumn("ProductID","ID") { ForeignKey = true },
        new FormColumn("ProductName", "Name"),
        new FormColumn("SupplierID","Supplier") { Lookup = new Lookup("Suppliers", "SupplierId", "CompanyName"),Required = true },
        new FormColumn("CategoryID","Category") { Lookup = new Lookup("Categories", "CategoryID", "CategoryName"),Required = true},
        new FormColumn("QuantityPerUnit", "Qty"){ InitialValue = 0},
        new FormColumn("UnitPrice", "Price") {Required = true,InitialValue = 0, MinValue = 0, MaxValue = 100 },
        new FormColumn("UnitsInStock", "Stock") {Required = true,InitialValue = 0, MinValue = 0 },
        new FormColumn("UnitsOnOrder", "On Order") {Required = true,InitialValue = 0 },
        new FormColumn("ReorderLevel", "Re-order Level") {Required = true,InitialValue = 0, MaxValue = 50 },
        new FormColumn("Discontinued") {DataType = typeof(bool), InitialValue = false}
    };

        productsGrid.LinkedControl = productForm;
        <div style="display:flex; flex-direction: column; gap:10px;">
            <div>
                @(await DbNetSuiteCore.Control.Create(HttpContext).Render(productsGrid))
            </div>
            <div>
                @(await DbNetSuiteCore.Control.Create(HttpContext).Render(productForm))
            </div>
        </div>
}}