@page "/Grid/Columns"
@attribute [StreamRendering]
@layout SampleLayout
@using DbNetSuiteCore.Blazor.Samples.Components.Layout
@using DbNetSuiteCore.Blazor.Samples.Components.Pages
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Enums
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.JSInterop
@inject IHttpContextAccessor httpContextAccessor
@inject IWebHostEnvironment env
@inject IJSRuntime JSRuntime

<PageTitle>Customers</PageTitle>
@{
    GridModel customerGrid = new GridModel(DataSourceType.SQLite, "northwind", "Customers");
    customerGrid.Columns = new List<GridColumn>
    {
        new GridColumn("CompanyName", "Name"), 
        new GridColumn("coalesce(Address,'') || ', ' || coalesce(City,'')", "Address") { DataType = typeof(string)},
        new GridColumn("coalesce(Phone,'') || ' / ' || coalesce(Fax,'')", "Phone/Fax") { DataType = typeof(string)}
    };

    @if (httpContextAccessor.HttpContext != null) 
    {
        @(new DbNetSuiteCore.Blazor.Control(httpContextAccessor.HttpContext).Render(customerGrid).Result)
    }
}

<SectionContent SectionName="razor-source">
    @HelperFunctions.GetSourceCode(httpContextAccessor.HttpContext, env)
</SectionContent>

<SectionContent SectionName="summary">
    <p data-summary>You can control the columns selected from the table or view by defining @HelperFunctions.Wiki("gridcolumn-constructors", "GridColumn") objects and adding them the @HelperFunctions.Wiki("gridmodel-properties#columns-ienumerablegridcolumn", "Columns") property. In this example columns are selected and combined in an expression and also given a @HelperFunctions.Wiki("gridcolumn-properties#label-string", "Label").</p>
</SectionContent>